<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--监听端口-->
    <add key="ServePort" value="12511"/>
    <!--服务附加信息，如机构代码，单位名称等，该信息会上报服务器-->
    <add key="Tag"  value="5113811"/>
    <!--计算机备注，该信息会上报服务器-->
    <add key="ComputerRemark"  value="开发の计算机"/>
    <!--最大连接数-->
    <add key="MaxConn" value="100"/>
    <!--是否启用websocket-->
    <add key="EnableWS" value="true"/>
    <!--定时上报服务器crontab配置,默认1分钟-->
    <add key="RegisterCron" value="*/1 * * * *"/>
    <!--是否只上报IPv4的服务地址-->
    <add key="OnlyPushIPv4" value="true"/>
    <!--自动重连间隔 单位ms（1s = 1000ms）-->
    <add key="ReConnectInterval" value="10000"/>
    <!--中心Websocket服务器-->
    <add key="CentreServer" value="ws://localhost:8090/ws"/>
  </appSettings>
</configuration>
